* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color-text: #9C9C9C;
    --main-background-color: #1B1B1B;
}
body {
    font-family: "Work Sans", sans-serif;
    background-color: black;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* start header  */
header {
    height: 85px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (max-width:768px) {
    header .container {
        margin: auto;
        border-radius: 0  0 10px 10px;
    }
}
header .container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    position: relative;
    background-color: var(--main-background-color);
    border-radius: 0  0 10px 10px;
}
header .container ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}
header .container ul a {
    padding: 10px;
    transition: 0.3s;
    border-radius: 10px;
    text-decoration: none;
    color: var(--main-color-text);
    cursor: pointer;
}
header .container ul li a:hover {
    background-color: #9C9C9C;
    color: #1B1B1B;   
}
@media (max-width:768px) {
    header .container ul {
        display: none;
    }
}
@media (max-width: 992px) {
    header .container ul {
        display: none;
    }
}
header .container .brands {
    position: absolute;
    align-items: center;
    top: 0;
    right: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 10%;
}
@media (max-width: 768px) {
    header .container .brands {
        top: 0;
        left: 15%;
        margin: 0;
    }
}
@media (max-width: 992px) {
    header .container .brands {
        top: 0;
        left: 0;
        justify-content: flex-start;
    }
}
header .container .brands i {
    font-size: 20px;
    color: var(--main-color-text);
    cursor: pointer;
}
header .container .icon {
    position: absolute;
    top: 35%;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 18px;
    display: none;
}
@media (max-width: 768px) {
    header .container .icon {
        display: flex;
        align-items: flex-end;
    }
}
@media (max-width: 992px) {
    header .container .icon {
        display: flex;
        align-items: flex-end;
    }
}
header .container .icon:hover span:nth-child(2){
    width: 100%;
}
header .container .icon span {
    height: 2px;
    background-color: var(--main-color-text);
    display: flex;
    align-items: flex-end;

}
header .container .icon span:first-child {
    width: 100%;
}
header .container .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
header .container .icon span:nth-child(3){
    width: 100%;
}
header .container .ul2 {
    display: none;
    flex-direction: column;
    list-style-type: none;
    width: 220px;
    height: 308px;
    background-color: var(--main-background-color);
    z-index: 2;
    position: absolute;
    right: auto;
    top: 65px;
    border-radius: 10px;
}
header .container .icon:hover .ul2 {
    display: flex;
}
header .container .ul2 li {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    transition: 0.3s;
}
header .container .ul2 a {
    text-decoration: none;
    color: var(--main-color-text);
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    margin-left: 35px;
}
header .container .ul2::before {
    content: "";
    border-color: transparent transparent transparent transparent;
    border-style: solid;
    border-width: 25px;
    position: absolute;
    top: -48px;
    right: -11px;
}
header .container .ul2 li:not(:last-child) {
    border-bottom: 0.5px solid black;
}
header .container .ul2 li a:hover {
    transform: translateX(20px);
}
/* end header  */
/* start Home*/
.home {
    padding-top: 60px;
    padding-bottom: 60px;
}
.home .container {
    padding-top: 60px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
@media (max-width: 992px) {
    .home .container {
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-flow: wrap;
    }
}
.home .container .text {
    max-width: 450px;
    padding-bottom: 100px;
}
@media (max-width: 992px) {
    .home .container .text h1 {
        font-size: 20px;
    }
}
.home .container .text h1 {
    color: white;
    font-weight: bold;
    font-size: 46px;
}
.home .container .text p {
    line-height: 1.6;
    padding-bottom: 40px;
    padding-left: 0;
    padding-top: 0;
    font-size: 15px;
    color: var(--main-color-text);
}
.home .container .text button {
    background-color: #3F8E00;
    color: white;
    font-weight: bold;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 7px;
    border-style: none;
}
.home .container .img {
    position: relative;
    width: 350px;
    height: 350px;

}
.home .container .img img {
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.home .container p {
    margin-top: 60px;
    padding: 20px;
    color: var(--main-color-text);
    font-size: 16px;
    width: 100%;
}
.home .container .combany {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.home .container .combany i {
    font-size: 60px;
    color: var(--main-color-text);
    border: 1px solid var(--main-color-text);
    border-radius: 10px;
    width: 230px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    transition: 0.3s;
}
.home .container .combany i:hover {
    color: #3F8E00;
    border-color: #3F8E00;
}


/* end Home */