* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-color-text: #9C9C9C;
    --main-background-color-: #1B1B1B;
}
body {
    font-family: "Work Sans", sans-serif;
    background-color: black;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* start header  */
header {
    background-color: var(--main-background-color-);
    height: 70px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0  0 10px 10px;
}
@media (max-width:768px) {
    header {
        margin: auto;
        border-radius: 0  0 10px 10px;
    }
}
header .container {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
    position: relative;
    width: 100%;
}
header .container ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
}
@media (max-width:768px) {
    header .container ul {
        display: none;
    }
}
@media (max-width: 992px) {
    header .container ul {
        display: none;
    }
}
header .container ul a {
    text-decoration: none;
    color: var(--main-color-text);
    cursor: pointer;
}
header .container .brands {
    position: absolute;
    top: 0;
    right: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    width: 10%;

}
header .container .brands i {
    font-size: 20px;
    color: var(--main-color-text);
    cursor: pointer;
}




header .container .icon {
    position: absolute;
    top: 35%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25px;
    height: 18px;
    display: none;
}
@media (max-width: 768px) {
    header .container .icon {
        display: flex;
        align-items: flex-start;
    }
}
@media (max-width: 992px) {
    header .container .icon {
        display: flex;
        align-items: flex-start;
    }
}
header .container .icon:hover span:nth-child(2){
    width: 100%;
}
header .container .icon span {
    height: 2px;
    background-color: var(--main-color-text);
    display: flex;
    align-items: flex-end;

}
header .container .icon span:first-child {
    width: 100%;
}
header .container .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
header .container .icon span:last-child {
    width: 100%;
}

/* end header  */